{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template tool_themeassets/assets

    Theme assets template.

    The purpose of this template is to render a list of theme assets.

    Classes required for JS:
    * none

    Data attributes required for JS:
    * none

    Context variables required for this template:
    * assets Array of name / value pairs.

    Example context (json):
    {
      "assets": [
          { "href": "http://www.example.com/test.css", "name": "test.jpg"  },
      ]
    }

}}
<div id="tool_themeassets-assets" class="container">
    <div class="row">
        <div class="col-md-4">{{# str }} name, tool_themeassets {{/ str }}</div>
        <div class="col-md-8">{{# str }} url, tool_themeassets {{/ str }}</div>

    </div>
    {{#assets}}
        <div class="row tool_themeassets-asset">
            <div class="col-md-4 asset-name"><a href="{{href}}">{{name}}</a></div>
            <div class="col-md-8 asset-link">{{href}}</div>

        </div>
    {{/assets}}
    {{^assets}}
        {{#str}} noassets, tool_themeassets {{/str}}
    {{/assets}}
</div>
